# Importação dos dados ENEM 2019

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
from pandas.plotting import table

In [13]:
fonte = 'C:\Workspace\MICRODADOS_ENEM_2019.csv'

dados = pd.read_csv(fonte, encoding = "ISO-8859-1", sep = ';') # 'dados' é um dataframe
dados.head()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001004627,2019,1506807,Santarém,15,PA,21,M,1,3,...,A,A,A,C,B,A,D,A,B,A
1,190001004628,2019,1504059,Mãe do Rio,15,PA,16,F,1,3,...,A,A,A,B,B,A,B,A,A,A
2,190001004629,2019,1505502,Paragominas,15,PA,18,F,1,1,...,B,A,A,D,B,B,D,A,C,B
3,190001004630,2019,1507706,São Sebastião da Boa Vista,15,PA,23,M,0,3,...,A,A,A,C,A,A,D,A,A,A
4,190001004631,2019,1503903,Juruti,15,PA,23,M,1,3,...,A,A,A,B,A,A,D,A,A,A

In [14]:
dados.shape

(5095270, 136)

In [18]:
dadosCE = dados.query('SG_UF_RESIDENCIA == "CE"')

In [21]:
dadosCEFortaleza = dadosCE.query('NO_MUNICIPIO_RESIDENCIA == "Fortaleza"')

In [22]:
dadosCEFortaleza

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
2386,190001007013,2019,2304400,Fortaleza,23,CE,22,F,1,0,...,B,A,A,B,A,A,D,A,A,B
10768,190001015395,2019,2304400,Fortaleza,23,CE,20,M,1,3,...,A,A,A,B,B,A,C,A,A,A
32556,190001037184,2019,2304400,Fortaleza,23,CE,27,M,1,1,...,A,A,A,B,B,A,E,A,B,A
39597,190001044225,2019,2304400,Fortaleza,23,CE,57,F,3,3,...,A,B,A,B,A,A,B,A,A,A
55286,190001059914,2019,2304400,Fortaleza,23,CE,18,M,1,1,...,A,A,A,B,A,A,B,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5094847,190006119773,2019,2304400,Fortaleza,23,CE,20,F,1,3,...,B,A,A,B,A,A,C,A,B,B
5094852,190006119778,2019,2304400,Fortaleza,23,CE,17,M,1,3,...,A,A,A,B,B,B,D,B,D,B
5094857,190006119783,2019,2304400,Fortaleza,23,CE,27,F,1,3,...,B,A,A,A,A,A,A,B,B,A
5094861,190006119787,2019,2304400,Fortaleza,23,CE,18,M,1,3,...,B,A,A,B,A,A,C,A,A,B
5094864,190006119790,2019,2304400,Fortaleza,23,CE,25,M,1,3,...,B,A,A,B,A,A,B,A,A,B

In [27]:
dadosCEFortaleza.shape

(93959, 136)

In [25]:
dadosCE.to_csv ('C:\Workspace\dadosCE.csv', index = False, header=True)

In [26]:
dadosCEFortaleza.to_csv ('C:\Workspace\dadosCEFortaleza.csv', index = False, header=True)